.product-search
  position: relative

  input[type="search"]
    width: 100%
    border-radius: 0
    border: solid 1px black
    padding: 10px
    font-size: 18px
  
  &__results
    width: 100%
    position: absolute
    background: white

    & ^[0]__result-item
      padding: 5px
      border solid 1px black
      display: block      
