.top-bar
  z-index: 1
  position: fixed
  top: 0
  left: 0
  width: 100%
  border-width: 0 0 5px 0
  border-color: black
  border-style: solid
  background: white

  &__container
    display: flex
    justify-content: space-between
    align-items: center

    & ^[0]__brand
      text-transform: uppercase
    
    & ^[0]__navigation
      & ^[0]__navigation-list
        list-style: none
        padding-left: 0
        & ^[0]__navigation-list-item
          //
      

