<footer>
  <div class="container">
    <h2>footer</h2>
  </div>
</footer>
{% schema %}
{
  "name": "global footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "footer text",
      "default": "default footer text"
    }
  ]
}
{% endschema %}