<footer>
  <div class="container">
    <p>{{ section.settings.footer_text }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "global footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "footer text",
      "default": "default footer text"
    }
  ]
}
{% endschema %}