<header>
  <div class="container">
    <a href="{{ shop.url }}">{{ shop.name }}</a>
    <nav>
      <ul>
        {% for page in pages %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>