<section>
  <div class="container">
    <h2>Products</h2>
    <div class="products">
      {% for product in collections.all.products %}
        <div class="product">
          {{ product.images[0] | image_url: width: 100, height: 100 | image_tag: loading: 'lazy' }}
          <a href="{{ product.url }}">{{ product.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>