<section class="banner">
  <div class="container" x-data="{ count: 0 }">
    <h1>{{ section.settings.main_text }}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Nam, debitis ipsa, perferendis iste quisquam quod, eligendi quam ipsum temporibus assumenda natus. Dolorum, veritatis amet. Dolorum aperiam alias est, magni doloremque.</p>
    <button class="btn">test button</button>
  </div>
</section>

{% schema %}
{
  "name": "home_banner",
  "settings": [
    {
      "type": "text",
      "id": "main_text",
      "label": "Banner text",
      "default": "Default banner text"
    }
  ]
}
{% endschema %}