<section class="banner">
  <div class="container" x-data="{ count: 0 }">
    <h1>{{ section.settings.main_text }}</h1>
  </div>
</section>

{% schema %}
{
  "name": "home_banner",
  "settings":  [
    {
      "type": "text",
      "id": "main_text",
      "label": "Banner text",
      "default": "Default banner text"
    }
  ]
}
{% endschema %}