<section class="banner">
  <div class="container" x-data="{ count: 0 }">
    <h1>Banner Section</h1>
    <span>Count: <span x-text="count"></span></span>
    <button @click="count++">increment</button>
  </div>
</section>